<h1 class=" d-flex justify-content-center mb-4">Restaurants</h1>

<ul class="list-group">
  <% @restaurants.each do |restaurant| %>
    <li class="list-group-item rounded-pill mb-1"><%= link_to restaurant.name, restaurant_path(restaurant), class: 'restaurant-name' %></li>
  <% end %>
</ul>

<%= link_to 'Create', new_restaurant_path, class: 'btn btn-outline-primary w-100 rounded-pill p-3 mt-4' %>


